<%= form_with(model: [ @order, @order.orderdetails.build ], html: { class: 'form-group',style:'width:800px;' }, local: true) do |form| %>

<div class="row">
  <div class="field col-2">
    <%= form.label :item %>
    <%= form.text_field :item, class:'form-control' %>
  </div>

  <div class="field col-2",style="width:50px;">
    <%= form.label :amount %>
    <%= form.number_field :amount, class:'form-control' %>
  </div>

  <div class="field col-2" >
    <%= form.label :price %>
    <%= form.text_field :price, class:'form-control' %>
  </div>

  <div class="field col-4">
    <%= form.label :comment %>
    <%= form.text_area :comment, class:'form-control',style:'height:40px;' %>
  </div>
  <div class="field col-2">
    <%= form.submit "Add",style:'margin-top:35px;',class:'btn btn-success' %>
  </div>
</div>
<% end %>