<%= form_with(model: [ @order, @order.orderdetails.build ], html: { class: 'form-group',style:'width:200px;' }, local: true) do |form| %>


  <div class="field">
    <%= form.label :item %>
    <%= form.text_field :item, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :amount %>
    <%= form.number_field :amount, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, class:'form-control' %>
  </div>

  <div class="field">
    <%= form.label :comment %>
    <%= form.text_area :comment, class:'form-control' %>
  </div>
    <%= form.submit %>
  </div>
<% end %>