<p id="notice"><%= notice %></p>

<p>
  <strong>Item:</strong>
  <%= @orderdetail.item %>
</p>

<p>
  <strong>Amount:</strong>
  <%= @orderdetail.amount %>
</p>

<p>
  <strong>Price:</strong>
  <%= @orderdetail.price %>
</p>

<p>
  <strong>Comment:</strong>
  <%= @orderdetail.comment %>
</p>

<p>
  <strong>User:</strong>
  <%= @orderdetail.user_id %>
</p>

<p>
  <strong>Order:</strong>
  <%= @orderdetail.order_id %>
</p>

<%= link_to 'Edit', edit_order_orderdetail_path(@orderdetail) %> |
<%= link_to 'Back', order_orderdetails_path %>
