<body style="background-image: url('../../assets/images/bg.jpg')">
<p id="notice"><%= notice %></p>
 <%= render "friendships/new" , locals:{friendship:@friendship} %>
<table class="table">
  <thead class="thead-dark">
    <tr>
      <%# <th>User</th> %>
      <th scope="col">Friend</th>
      <th>Group</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @friendships.each do |friendship| %>
      <tr>
        <%# <td><%= friendship.user_id %></td> 
        <td><%= friendship.friend.email %></td>
        <td><%= friendship.group_id %></td>
        <%# <td><%= link_to 'Show', friendship %></td> 
        <%# <td><%= link_to 'Edit', edit_friendship_path(friendship)</td> %>
        <td><%= link_to 'Destroy', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>
<%= link_to 'New Friendship', new_friendship_path %>
