<body style="background-image: url('../../assets/images/bg.jpg')">
<p id="notice"><%= notice %></p>
 <%= render "friendships/new" , locals:{friendship:@friendship} %>


<table class="table" width="200px"  >
  <thead class="thead-dark">
    <tr>
      <%# <th>User</th> %>
      <th >Friend</th>
      <th> </th>
      <th ></th>
    </tr>
  </thead>

  <tbody>
    <% for friendship in current_user.friendships%>
    <%# <% @friendships.each do |friendship| %> 
      <tr>
        <td><%= friendship.friend.email %></td>
        <td> <%= image_tag(friendship.friend.register_image, size: "100x100")%></td>
        <td><%= link_to 'Destroy', friendship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>  
    <% end %>
  </tbody>
</table>
<br>
