

<div class="container" style="background-color:gold">
    <div class="row justify-content-md-center">
      <div class="col col-lg-4">
  <!-- <form class="needs-validation" novalidate> -->
    <%= form_with(model: order, local: true) do |form| %>
    <% if order.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.full_messages.each do |message| %>
        <div class="alert alert-danger d-none"><%= message %></div>

        <% end %>
      </ul>
    </div>
  <% end %>
  
    <div class="form-group">
      <label for="exampleInputName">Order For</label>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">@</span>
        </div>
        <%= select_tag(:"order[order_for]", raw('<option value="BreackFast">BreackFast</option><option value="Dinner">Dinner</option><option value="lunch">lunch</option>')) %>
      </div>
      <div class="invalid-feedback">Name can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
      <small class="form-text text-muted">Text input example</small>
    </div>
  
    <div class="form-group">
      <label for="exampleInputEmail">Add Group/Friends To My Order</label>
      <hr>
      <div class="input-group">
        <div class="input-group-prepend">
          <span class="input-group-text" id="basic-addon1">example-</span>
        </div>
            <input type="text" name="user_get" class='getuser' placeholder="user get">

        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">@KFC</span>
        </div>
      </div>
      <div class="invalid-feedback">order can't be blank</div>
      <div class="valid-feedback">Looks good!</div>
      <small class="form-text text-muted">We'll never share your email with anyone else.</small>
    </div>
  
    <div class="form-group">
      <label for="exampleInputPassword">From</label>
      <div class="input-group">
        <%= form.text_field :from %>
        <div class="input-group-append">
          <span class="input-group-text" id="basic-addon1">🙊</span>
        </div>
      </div>
         <%= form.label :ADD_Image %>
         <hr>
    <%= form.file_field :image , :class=> 'btn btn-primary' %>
    </div>
  
  
      <%= form.submit  class: "btn btn-primary"%>

    <button type="reset" class="btn btn-outline-secondary">Cancel</button>
  </form>
  
  </div>
      <div class="col col-lg-8">
      <table class="mytable table table-hover table-dark">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">First</th>
        <th scope="col">Last</th>
        <th scope="col">Handle</th>
      </tr>
    </thead>
    <tbody>

    </tbody>
    <div id="user-results">
              
    </div>
  </table>
  </div>
  </div>
  </div>
<%end%>
