    <table class="table table-hover table-dark">
    <%if @user_all.length > 0 %>
 <% @user_all.each  do |user| %>
      <tr>
        <td><%= user.id %></td>
        <td><%= user.email %></td>
            <td><% if user.image != "" %>
                User image <%= image_tag(user.image, size: "100x100")%>   
            <% else %>
                User image <%= image_tag(user.register_image, size: "100x100")%>
            <% end %></td>
       
            <td><button class="removeuser btn btn-primary" value=" <%=user.id %>">Remove</button></td>
  </tr>
      <script>
    $('<input>').attr({
    type: 'hidden',
    id: 'foo',
    name: 'userid[]',
    value: '<%=user.id%>'
}).appendTo('form');

		$('.removeuser').on('click',(e)=>{
    console.log(e.target.value);
    $(`:hidden[value=${e.target.value}]`).remove()
   $(e.target).parents('tr').remove()

	})
      </script>

    <% end %>
    <%else%>
    <tr>
<td colspan="4" >not found <%=@group%></td>

    </tr>
    <%end%>
    </table>