<p id="notice"><%= notice %></p>

<p>
  <strong>Order for:</strong>
  <%= @order.order_for %>
</p>

<p>
  <strong>From:</strong>
  <%= @order.from %>
</p>



<p>
  
  <% if (@order.image.attached?)%>
  <strong>image:</strong>
  <%= image_tag(@order.image) %>
  <%end%>

</p>
<p>
<%= @order.users.each do |user|%>
<h2> email: <%= user.email%>  </h2>
<%end%>
</p>

<%= link_to 'Edit', edit_order_path(@order) %> |
<%= link_to 'Back', orders_path %>
