<!DOCTYPE html>
<html>

<head>
    <title>Yala notlob</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>    
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="collapse navbar-collapse justify-content-center" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto ">
                <% if user_signed_in? %>
                <li class="nav-item">
                    <%= link_to 'Home', root_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to "Friends", friendships_path, :class => 'nav-link'  %>
                </li>
                <li class="nav-item">
                    <%= link_to "Groups", groups_path, :class => 'nav-link'  %>
                </li>
                <li class="nav-item">
                    <%= link_to "Orders", orders_path, :class => 'nav-link'  %>
                </li>
                <% else %>
                <li class="nav-item">
                    <h3> Welcome</h3>
                </li>
                <% end %>
            </ul>
            <ul class="navbar-nav">
                <% if user_signed_in? %>
                <li>
                    Logged in as <strong><%= current_user.email %></strong>.
                    <% if current_user.image != "" %>
                        <%= image_tag(current_user.image, size: "35x35", :class=> "profile-pic")%>
                    <% else %>
                        <%= image_tag(current_user.register_image, size: "35x35", :class=> "profile-pic")%>
                    <% end %>
                </li>
                <li class="nav-item">
                    <%= link_to 'Edit profile', edit_user_registration_path, :class => 'nav-link' %>
                </li>
                <li class="nav-item">
                    <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'nav-link'  %>
                </li>
                <% end %>
            </ul>
        </div>
    </nav>
    <div class="container mt-3">
        <% if notice %>
        <p class="alert alert-success"><%= notice %></p>
        <% end %>
        <% if alert %>
        <p class="alert alert-danger"><%= alert %></p>
        <% end %>
        <%= yield %>
    </div>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous">
    </script>
    <script>
        $('.getuser').on('blur', (e) => {
            console.log(e.target.value);

            $.ajax('http://localhost:3000/orders/new', {
                type: 'GET', // http method
                data: {
                    request_user:e.target.value
                }, // data to submit
                success: function(data, status, xhr) {
                    console.log(data)
                }
            })


        })
    </script>
</body>

</html>